.button-main
{
    -fx-background-color : #ffffff;
    -fx-text-fill: #06086e;
}
.button-main:hover
{
    -fx-background-color : #a2cdff ;
}
.button-main:pressed
{
    -fx-background-color : #73A3EF;
    -fx-underline: true;
}

.label-exit:hover
{
    -fx-background-color : #dc4335;
}
.label-exit:pressed
{
    -fx-background-color : #ffffff;
}
