

.lable-title{
    -fx-text-fill: -title-color;
    -title-color: #000000;
    -fx-font-size: 19;
    -fx-font-weight: bold;
}
.button-sound{
        -fx-background-image: url('speak.png');
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
}
.lable-sound
{
    -fx-text-fill: -title-color;
    -title-color: #000000;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}
.button-edit
{
    -fx-background-image: url('edit.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}
.button-save
{
    -fx-background-image: url('save.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}