.button-lang
{
    -fx-background-color : #ffffff;
    -fx-text-fill: #06086e;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
.button-lang:pressed
{
    -fx-background-color : #73A3EF;

}
.button-lang-selected
{
    -fx-background-color : #b2c7fc; /* Màu xanh */
    -fx-underline: true;
}
.text-field-style
{
    -fx-text-indent: 50px; /* Đặt khoảng cách đầu dòng là 0px */
    -fx-white-space: pre;
    -fx-background-color : #ffffff; /* Màu nền */
    -fx-text-fill: #000000; /* Màu chữ */
    -fx-font-weight: bold; /* Độ đậm của chữ */
    -fx-font-size: 20; /* Kích thước chữ */
}
